{% for field in form %}
{% if field.field.widget.input_type == 'checkbox' %}
{% include 'staff_portal/_form_checkbox.html' %}
{% else %}
<div class="mb-4">
    <label for="{{ field.id_for_label }}" class="form-label fw-semibold fs-5">{{ field.label }}</label>
    {{ field }}
    {% if field.help_text %}
        <div class="form-text">{{ field.help_text }}</div>
    {% endif %}
    {% for error in field.errors %}
        <div class="text-danger small mt-1">{{ error }}</div>
    {% endfor %}
</div>
{% endif %}
{% endfor %}
